
<div class="header-section">
  <div class="logo-section">
    <img src="../assets/images/logo.PNG" class="logo" [alt]="altLogo">
  </div>

  <div class="navbar-section d-flex">
    <div class="navbar-item">Home</div>
    <div class="navbar-item">Service</div>
    <div class="navbar-item">Portfolio</div>
    <div class="navbar-item">About</div>
    <div class="navbar-item">Contact</div>
  </div>
</div>

<div class="content-section d-none">

  <home-component></home-component>

  <service-component></service-component>

  <portfolio-component></portfolio-component>

  <about-component></about-component>

  <contact-component></contact-component>
</div>


